
#calcBody {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    padding: 10px;
    border-radius: 25px;
    border: 3px solid black;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}

#screen {
    background-color: black;
    color: limegreen;
    width: 200px;
    height: 40px;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 12px;
    font-family: monospace;
}

#buttons {
    margin-top: 20px;
    height: 60%;
    background-color: bisque;
    width: 200px;
}

#operators {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    height: 40px;
    width: 100%;
    background-color: blue;
    color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
}

#grid-layout {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50px;
    align-items: center;
}

.equal {
    height: 185px;
    line-height: 130px;
    background-color: green;
}